$main-surface: #ffffff;
$main-bg-color: #FFFAFA;
$main-bg-color-dark:#F9F3F5;
$text-highlight: #FF4C60;
$text-main: #282828;
$text-transparency: #C4C4C4;
$shadow: rgba(0, 0, 0, 0.15);
$shadow-dark: rgba(0, 0, 0, 0.25);
$gradient-colored: #FCE8E6;
$gradient-light: #FDFDFD;
$submit-color: #4CAF50;
