@import '_reset';
@import '_colors';
@import '_layouts';

.text-right {
    text-align: right;
}

.social {
    display: flex;
    &-link {
        position: relative;
        right: 10px;
        &:hover{
            color: $text-highlight;
            svg{
                path{
                    fill: $text-highlight;
                }
            }
        }
    }
    li {
        //1 li element
        &:first-child {
            margin-right: 35px;
        }
    }
}
.resume{
    color: $text-main;
    &-link{
        &:hover{
            .line{
                left: -96px;
            }
        }
    }

}
.line {
    position: relative;
    left: 0;
    display: inline-block;
    width: 106px;
    height: 1px;
    background-color: $text-main;
    transition: left .3s;
}
a {
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: $text-main;
    font-style: normal;
} 
.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color: $text-main
}
h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    &.space-bottom{
        margin-bottom: 10px;

    }
}
p{
    font-size: 18px;
    line-height: 26px;
    &.transparency{
        font-size: 16px;
        color: $text-transparency;
    }
    &.small{
        font-size: 12px;
        line-height: 18px;
    }
    &.middle{
        font-size: 18px;
        line-height: 26px;
        color: $text-main;
    }
    &.margin-bottom{
        margin-bottom: 15px;
    }
    &.small-bold{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $text-main;
        margin-bottom: 40px ;
    }
}
.bg-grey{
    background: $main-bg-color-dark;
}
//style for header
.header {
    margin-top: 30px;
    min-height: 500px;
    background-image: url('../img/header-bg.svg');
    background-repeat: no-repeat;
    background-position: 35% center;
    background-size: contain;
    @media(max-width: $laptop-size){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        font-size: 48px;
        font-weight: bold;
        line-height: 72px; 
        span {
            color: $text-highlight;
        }
    }
    .header-img {
        margin-right: -55px;
        margin-top: -60px;
    }
}
.menu {
    padding-top: 28px;
    &-block{
        position: relative;
        left: 45px;
        &-list{   //menu-block-list
            position: absolute;
            display: none;
            padding: 20px;
            top: 30px;
            left:  15px; 
            background: $main-surface;
            box-shadow: 0 0 10px $shadow-dark;
            border-radius: 5px;
            .menu-block-item{
                font-family: inherit;
                font-weight: bold;
                a{
                    color: $shadow-dark;
                    &:hover {
                        color: $menu-color-hover;
                    }
                }
            }
        }
    }
    &-checkbox{
        position: absolute;
        left: 15px;
        width: 45px;
        height: 20px;
        padding: 0;
        z-index: 2;
        opacity: 0;
        &:hover{
            cursor: pointer;
        }
        &:checked{
            &+.menu-button{
                .menu-button_icon{
                    background: transparent;
                    transform: translateX(12px);
                    &::before{
                        transform: rotate(45deg) translateY(12px);
                    }
                    &::after{
                        transform: rotate(-45deg) translateY(-12px);
                    }
                }
            }
            &~.menu-block-list{
                display: block;
            }
        }
    }
    &-button{
        width: 38px;
        border: 0;
        background-color: transparent;
        padding: 9px;
        font-size: 1px;
        transition: opacity .2s;
        &:hover {
            cursor: pointer;
            opacity: .6;
        }
        &_icon{
            position: relative;
            display: inline-block;
            width: 29px;
            height: 2px;
            background: $text-main;
            text-align: right;
            transition: all .2s ease-in;
            &::before,
            &::after {
                content: "";
                position: absolute;
                right: 0;
                background: $text-main;
                width: 36px;
                height: 2px;
                border-radius: 10px;
                transition: all .2s ease-in;
            }
            &::before {
                top: -9px;
            }
            &::after {
                top: 9px;
            }
        }
    }
}
.scroll-down-button{
    appearance:none;
    margin-top: 68px;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 12px;
    color: $text-main;
    .icon{
        position: relative;
        display: inline-block;
        margin-right: 14px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $main-surface;
        box-shadow: 0px 10px 25px $shadow;
        vertical-align: middle;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 17px;
            height: 21px;
            border: 1px solid $text-main;
            border-radius: 9px;
        }

    }
    &:hover {
        cursor: pointer;
        .icon{
            box-shadow: 0px 2px 2px $shadow;
        }
    }
}
// additional block
.additional{
    &-block{
        padding-top: 53px;
        padding-bottom: 30px;
    }
    &-text{
        text-align: center;
        
    }
    &-input{
        position: relative;
        input{
            width: 100%;
            max-width: 570px;
            padding: 37px 50px;
            border: 0;
            box-shadow: 0px 0px 20px $shadow;
            &:focus { 
                border: 2px solid $text-highlight;
                outline: 0;
                &+label{
                    display: none;

                }
            }
        }
        label{
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            color: $text-transparency;
            &>img{
                position: relative;
                top: 6px;
                height: 24px;
            }
        }
        button {
            position: absolute;
            right: 150px;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 36px;
            border: none;
            background-color: transparent;
            background-image: url('../img/arrows-right.svg');
            background-repeat: no-repeat;
            background-size: 18px 19px;
            background-position: 90% center;
            font-family: inherit;
            transition: all .2s ease-in;
            &:hover {
                cursor: pointer;
                background-position: right center;
            }
            
        }
    }
}
.graph-background{
    max-width: 530px;
    padding: 40px 100px;
    background: radial-gradient(51.33% 49.78% at 49.47% 44.58%, $gradient-light 0%, $gradient-colored 100%);
    box-shadow: 0px 4px 4px $shadow-dark;
    border-radius: 42px;
}
.skills-list{
    justify-content: space-between;
    margin: 36px 0 48px;
    &-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        strong{
            padding-top: 10px;
            font-weight: 708;

        }
    }
}
.list-icon{
    justify-content: space-between;
}
.icon-background{
    padding-right: 15px;
    margin-top: 33px;
    &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 150px;
        min-height: 150px;
        background: $main-surface;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 30px; 
        span{
            display: flex;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            font-family: inherit;
            color: $text-main;
        }
    }
    
}
.link-list{
    justify-content: space-between;
}
.media-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-list{
    justify-content: space-around;

}
.gallery-previous, .gallery-next{
    background-color: $shadow-dark;
    border: none;
    color: $text-main;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 15px $shadow-dark;
    border-radius: 40%;
    cursor: pointer;
}
.gallery {
    padding-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    &-item{
        transition: .3s ease;
    }
    // &-previous{
    //     opacity: 0;
    // }
    .grayscale{
        filter: grayscale(100%);
        border-radius: 30px;
    }
    .mt:first-child {
        margin-top: -150px;
    }
    .mt:nth-child(2n){
        margin-top: -50px;
    }
    .mt:nth-child(3n){
        margin-top: -80px;
    }
}
.form-contact {
    h2{
        margin-bottom: 30px;
    }
    .row{
    padding: 0;
    margin: 0;
    position: relative;
        .form-input{
            &:first-child{
                margin-right: 20px;
            }
        }
    }
    .form-input{
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    }
    input{
        padding: 0 30px;
        box-shadow: 0px 0px 20px $shadow;
        height: 61px;
        border: none;
        width: 100%;
        border-radius: 10px;
        cursor: text;
        &.active{
            &+label{
                top: -10px;
                border-radius: 5px;
                background-color: rgb(255, 248, 240);
            }
        }
    }
    input[type=submit] {
        cursor: pointer;
        transition: all .05s ease-in;
        &:hover {
            background-color: $submit-color;
            color: $gradient-light;
        }
    }  
    label {
        position: absolute;
        top: 20px;
        left: 20px;
        text-align: center;
        padding: 4px;
        transition: all .1s ease;
    }
}
.swiper-container {
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;
        overflow: hidden;
    }
  }
